// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles
.nav-item:hover{
  text-decoration: underline;
  color: white;
}

.nav-item:active{
  color: blue;
}

.container{
  background-image: url(img/pirate-ship.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 20px;
  position: center;

}

.mx-auto{
  font-family: 'Pirata One', sans-serif;
  text-align: center;
  color: white;
} h1{
  font-size: 70px;
} .subheading{
  font-size: 30px;
}

footer{
  text-align: center;
  background-color: rgb(0, 193, 129);
  padding: 10px;
}

.section-title{
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 30px;
}

.card-text{
  font-size: 20px;
}


.carousel{
  margin-left: 15%;
  margin-right: 15%;

}









